# Setup

In [2047]:
import pandas as pd
# from collections import defaultdict
# from operator import itemgetter
import numpy as np
# import re
# from fuzzywuzzy import process, fuzz

# Display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.3f}'.format)

In [2048]:
dsd = "DSD2324_overview (2).xlsx"
preferences = "Teaching Preferences Questionnaire_S1_2023-24_raw.xlsx"
contract = "ta_contract_v2.xlsx"
bs_weights = "bs_courses_weights_FILLED.xlsx"
term = "S1"

# DEMAND - practical lessons

In [2049]:
dsd_df = pd.read_excel(dsd)

In [2050]:
dsd_df.head()

,ORDER,TERM,CYCLE,COURSE CODE,COURSE NAME,LANGUAGE,CLASS,SLOTS,WEIGHT,PROGRAM,FORMAT,INSTITUTIONAL ID,FACULTY ID,FACULTY NAME,FACULTY EMAIL,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,LAST UPDATED AT
0,1,S1,BSC,1104,Seminário de Economia Europeia,EN,T301A,35,1.000,NaN,NORMAL,16699,146,João Amador,jamador@novasbe.pt,NaN,NaN,NaN,NaN,NaN
1,2,S1,BSC,1104,Seminário de Economia Europeia,EN,T302A,35,1.000,NaN,NORMAL,16699,146,João Amador,jamador@novasbe.pt,NaN,NaN,NaN,NaN,NaN
2,3,S1,BSC,1104,Seminário de Economia Europeia,EN,T303A,35,1.000,NaN,NORMAL,16699,146,João Amador,jamador@novasbe.pt,NaN,NaN,NaN,NaN,NaN
3,4,S2,BSC,1104,Seminário de Economia Europeia,EN,T301A,40,1.000,NaN,NORMAL,16699,146,João Amador,jamador@novasbe.pt,NaN,NaN,NaN,NaN,NaN
4,5,S2,BSC,1104,Seminário de Economia Europeia,EN,T302A,40,1.000,NaN,NORMAL,16699,146,João Amador,jamador@novasbe.pt,NaN,NaN,NaN,NaN,NaN

In [2051]:
dsd_df["course"] = dsd_df["COURSE CODE"].astype(str) + " || " + dsd_df["COURSE NAME"].astype(str) + " || " + dsd_df["TERM"].astype(str) + " || " + dsd_df["LANGUAGE"].astype(str)

# ADDED!
faculty_list = dsd_df[dsd_df["COURSE NAME"] != "Stata"]["FACULTY EMAIL"].unique()

if term == "S1":
    selected_terms = ["S1", "T1", "T2"]
    dsd_df = dsd_df[dsd_df['TERM'].isin(selected_terms)]
else:
    selected_terms = ["S2", "T3", "T4"]
    dsd_df = dsd_df[dsd_df['TERM'].isin(selected_terms)]

# ADDED!
teorico_practicas = dsd_df[(dsd_df["FACULTY NAME"].isna()) & (dsd_df["CYCLE"] == "BSC")]["COURSE NAME"].unique()
dsd_df = dsd_df.drop(dsd_df[(dsd_df["COURSE NAME"].isin(teorico_practicas)) & (dsd_df["FACULTY NAME"].notna())].index)

In [2052]:
faculty_list

array(['jamador@novasbe.pt', 'afreitas@novasbe.pt',
       'victoire.girard@novasbe.pt', 'vascos@novasbe.pt',
       'eduardo.costa@novasbe.pt', 'ppc@novasbe.pt', nan,
       'priscila.oliveira@berkeley.edu', 'claudia.alves@novasbe.pt',
       'ppbarros@novasbe.pt', 'jmcosta@novasbe.pt | sharmin@novasbe.pt',
       'joao.silva@novasbe.pt', 'peralta@novasbe.pt',
       'pedro.martins@novasbe.pt',
       'pedro.brinca@novasbe.pt | joao.duarte@novasbe.pt',
       'lisbeth.rodrigues@novasbe.pt', 'milton.sousa@novasbe.pt',
       'youtha.cuypers@novasbe.pt', 'paulo.faroleiro@novasbe.pt',
       'miguel.munoz.duarte@novasbe.pt', 'mariia.murasheva@novasbe.pt',
       'lpereira@novasbe.pt', 'filipa.fonseca@novasbe.pt',
       'workprojects@novasbe.pt', 'bernardo.pimentel@novasbe.pt',
       'joao.m.filipe@novasbe.pt', 'carlos.cardoso@novasbe.pt',
       'ana.marques@uea.ac.uk', 'raugusto@novasbe.pt',
       'marta.almeida@novasbe.pt', 'melissa.prado@novasbe.pt',
       'niklasflamang@berkeley.edu', 'antonio.torres@novasbe.pt',
       'ana.costa@novasbe.pt', 'patricia.xufre@novasbe.pt',
       'mhalmeida@novasbe.pt', 'aurea.quintino@novasbe.pt',
       'joao.farinha@novasbe.pt', 'joana.matos@novasbe.pt',
       'silvia.guerra@novasbe.pt', 'tania.sofia.silva@novasbe.pt',
       'rui.mota@novasbe.pt', 'maria.braga@novasbe.pt',
       'ernesto.freitas@novasbe.pt', 'patricia.ramos@novasbe.pt',
       'jazevedo@novasbe.pt', 'miguel.matos@novasbe.pt',
       'eduardo.garcia@novasbe.pt', 'rongjiao.ji@novasbe.pt',
       'prana@student.ie.edu', 'lrossi@novasbe.pt', 'lamaral@novasbe.pt',
       'loic.pedras@novasbe.pt', 'catarina.m.grosso@novasbe.pt',
       'joana.monteiro@novasbe.pt', 'anibal.lopez@novasbe.pt',
       'catarina.leal@novasbe.pt', 'leonor.ferreira@novasbe.pt',
       'pedro.freitas@novasbe.pt', 'ffranco@novasbe.pt',
       'mcunhasa@novasbe.pt', 'pportugal@novasbe.pt',
       'alex.armand@novasbe.pt', 'paulo.m.m.rodrigues@novasbe.pt',
       'alvaro.silva@novasbe.pt', 'pedro.vicente@novasbe.pt',
       'nikita.melnikov@novasbe.pt', 'jtavares@novasbe.pt',
       'steffen.hoernig@novasbe.pt', 'pedropires@berkeley.edu',
       'cbatista@novasbe.pt', 'pedro.f.carvalho@novasbe.pt',
       'pranav.desai@novasbe.pt', 'ana.lacerda@novasbe.pt',
       'carla.rebelo@novasbe.pt', 'felix.wilke@phdstudent.hhs.se',
       'goncalo.silva@novasbe.pt | mario.freire@novasbe.pt',
       'anleite@novasbe.pt', 'amatos@novasbe.pt',
       'francisco.queiro@novasbe.pt', 'francisco.martins@novasbe.pt',
       'goncalo.ribeiro@novasbe.pt',
       'giorgio.ottonello@novasbe.pt | nicholas.hirschey@novasbe.pt',
       'e-luis.barbosa@novasbe.pt', 'irem.demirci@novasbe.pt',
       'pjpinho@novasbe.pt', 'andre.silva@novasbe.pt',
       'joao.pereira@novasbe.pt', 'diogo.chalbert@novasbe.pt',
       'luis.duarte@novasbe.pt', 'b00726834@essec.edu',
       'russell.lundholm@sauder.ubc.ca', 'randre@novasbe.pt',
       'jsantos@novasbe.pt', 'eisert@ese.eur.nl',
       'miguel.oliveira@novasbe.pt', 'ekaterina.gavrilova@novasbe.pt',
       'antonio.mello@wisc.edu',
       'miguel.m.duarte@novasbe.pt | goncalo.ribeiro@novasbe.pt',
       'virginia.gianinazzi@novasbe.pt', 'pedro.souto@novasbe.pt',
       'afonso.eca@novasbe.pt', 'murillo.campello@novasbe.pt',
       'antonio.miguel@novasbe.pt', 'margarida.anselmo@novasbe.pt',
       'rodrigo.tavares@novasbe.pt', 'fouad.hashem@novasbe.pt',
       'joao.m.rato@novasbe.pt', 'sofia.kousi@novasbe.pt',
       'arnaud.monnier@edhec.edu', 'nadim.habib@novasbe.pt',
       'jvelosa@novasbe.pt', 'emanuel.gomes@novasbe.pt',
       'sreyaa.guha@novasbe.pt', 'daniel.traca@novasbe.pt',
       'utku.serhatli@novasbe.pt', 'luis.veiga.martins@novasbe.pt',
       'joao.loureiro.rodrigues@novasbe.pt', 'fcastanheira@novasbe.pt',
       'elizabete.cardoso@novasbe.pt', 'jorge.cardoso@novasbe.pt',
       'pantao@novasbe.pt', 'goncalo.l.rocha@novasbe.pt',
       'adacunha@novasbe.pt', 'silvia.herrero@novasbe.pt',
       'daniela.schmitt@novasbe.pt', 'filipa.r.pinto@novasbe.pt',
       'zhang_fan@haas.berkeley.edu', 'natalie.truong@novasbe.pt',
       'ana.amaro@novasbe.pt', 'cdsilveira@novasbe.pt',
       'carmenlages@novasbe.pt', 'arash.laghaie@novasbe.pt',
       'luis.caires@novasbe.pt', 'nuno.v.sa@novasbe.pt',
       'joao.castro@novasbe.pt', 'luis.rodrigues@novasbe.pt',
       'andrew.harrison@novasbe.pt', 'marco.galo@essec.edu',
       'aman.asija@novasbe.pt', 'constanca.casquinho@novasbe.pt',
       'helena.g.martins@novasbe.pt', 'paolo.leone@novasbe.pt',
       'luis.almeida.costa@novasbe.pt', 'ricardo.pereira@novasbe.pt',
       'david.bernardo@novasbe.pt', 'roberto.ragozzino@novasbe.pt',
       'abernardo@novasbe.pt', 'lflages@novasbe.pt',
       'qiwei.han@novasbe.pt', 'sabina.zejnilovic@novasbe.pt',
       'paulo.portas@novasbe.pt', 'pedro.david@novasbe.pt',
       'antonio.alvarenga@novasbe.pt',
       'ines.risques@novasbe.pt | michael.pinkhasov@novasbe.pt',
       'miguel.alvesmartins@novasbe.pt | filipe.alfaiate@novasbe.pt',
       'marco.berti@uts.edu.au', 'paulo.ribeiro@novasbe.pt',
       'joao.gomes@novasbe.pt', 'margarida.soares@novasbe.pt',
       'fabio.santos@novasbe.pt', 'joao.m.delgado@novasbe.pt',
       'alison.holm@novasbe.pt | debtanu.lahiri@novasbe.pt',
       'samantha.sim@novasbe.pt | sofia.kousi@novasbe.pt',
       'nuno.arantes.oliveira@novasbe.pt', 'filipe.alfaiate@novasbe.pt',
       'jslobo@novasbe.pt',
       'nuno.preguica@novasbe.pt | ricardo.a.silva@novasbe.pt',
       'lenia.mestrinho@novasbe.pt', 'jose.teixeira@novasbe.pt',
       'joao.pires@novasbe.pt', 'luis.guimarais@novasbe.pt',
       'duarte.pimentel@novasbe.pt', 'joao.seco@novasbe.pt',
       'filipe.almeida@novasbe.pt', 'charles.arcodia@novasbe.pt',
       'irene.consiglio@novasbe.pt', 'leid.zejnilovic@novasbe.pt',
       'michail.batikas@rennes-sb.com', 'mafalda.chaves@novasbe.pt',
       'cs@madoquaventures.com', 'kalvapalle@rsm.nl',
       'rui.coutinho@novasbe.pt', 'miguel.alvesmartins@novasbe.pt',
       'graca.maria.fonseca@gmail.com', 'ricardo.zozimo@novasbe.pt',
       'annelaure.fayard@novasbe.pt', 'sergio.guerreiro@novasbe.pt',
       'jenny.hoobler@novasbe.pt', 'julia.seixas@novasbe.pt',
       'bruno.soares@novasbe.pt', 'francisco.ferreira@novasbe.pt',
       'paul.verdin@novasbe.pt', 'francisco.moser@novasbe.pt',
       'raquel.dinis@novasbe.pt', 'yufei.shen@hec.edu',
       'rui.biscaia@novasbe.pt', 'pedro.brinca@novasbe.pt',
       'rodrigo.belo@novasbe.pt', 'euclides.major@novasbe.pt',
       'sander.allegro@novasbe.pt', 'tomas.ramos@novasbe.pt',
       'alison.holm@novasbe.pt', 'wayne.borchardt@novasbe.pt',
       'jtavares@novasbe.pt | antonio.vicente@novasbe.pt',
       'carlos.miro@novasbe.pt', 'afonso.januario@novasbe.pt',
       'm.kummer@uea.ac.uk',
       'madalena.resende@novasbe.pt | nuno.teixeira@novasbe.pt',
       'brais.pereira@novasbe.pt', 'adolfo.nunes@novasbe.pt',
       'jorge.teixeira@novasbe.pt', 'matilde.g.gracio@novasbe.pt',
       'e-carlos.gomes@novasbe.pt', 'paulo.fagandini@novasbe.pt',
       'joao.firmino@novasbe.pt', 'joao.duarte@novasbe.pt',
       'miguel.cunha@novasbe.pt', 'marta.mateus@novasbe.pt',
       'sergio.moreira@novasbe.pt',
       'pportugal@novasbe.pt | pedro.martins@novasbe.pt',
       'dora.moura@novasbe.pt | e-miguel.luz@novasbe.pt',
       'e-miguel.luz@novasbe.pt', 'i-francisco.palma@novasbe.pt',
       'terry.hamill@novasbe.pt',
       'dora.moura@novasbe.pt | e-nivalda.reis@novasbe.pt',
       'e-joana.feliciano@novasbe.pt',
       'rita.cunha@novasbe.pt | dora.moura@novasbe.pt',
       'dora.moura@novasbe.pt | null', 'juliana.fortes@novasbe.pt',
       'paulo.ribeiro@novasbe.pt | marta.arriaga@novasbe.pt',
       'pedro.oliveira@novasbe.pt | dora.moura@novasbe.pt',
       'antonio.santos@novasbe.pt', 'e-maria.pereira@novasbe.pt',
       'e-gonzalo.gonzalez@novasbe.pt', 'e-gerard.torres@novasbe.pt',
       'sebastian.pena@novasbe.pt', 'hugo.aguiar@novasbe.pt',
       'tiago.godinho@novasbe.pt', 'e-andrew.newton@novasbe.pt',
       '51539@novasbe.pt', 'catarina.holstein@novasbe.pt',
       'filipa.rodrigues@novasbe.pt',
       'vitorino.oliveira@novasbe.pt | daniela.afonso@novasbe.pt',
       'maria.jacinto@novasbe.pt | euclides.major@novasbe.pt',
       'miguel.calado@novasbe.pt',
       'miguel.cunha@novasbe.pt | pedro.neves@novasbe.pt | fcastanheira@novasbe.pt | milton.sousa@novasbe.pt',
       'ana.porfirio@novasbe.pt',
       'pedro.neves@novasbe.pt | fcastanheira@novasbe.pt',
       'vania.carvalho@novasbe.pt | carla.rocha@novasbe.pt',
       'raugusto@novasbe.pt | jslobo@novasbe.pt', 'rui.silva@novasbe.pt',
       'ana.graca@novasbe.pt', 'fernando.anjos@novasbe.pt',
       'maria.pereira@novasbe.pt', 'miguel.bello@novasbe.pt',
       'pedro.oliveira@novasbe.pt', 'anzinip@gmail.com',
       'esirage@gmail.com', 'miguel.p.fernandes@novasbe.pt',
       'x.abreu@aeeconomics.com', 'a.koberle@imperial.ac.uk',
       'joao.sousa@novasbe.pt',
       'ricardo.zozimo@novasbe.pt | marta.pimentel@novasbe.pt',
       'benoit.decreton@novasbe.pt',
       'miguel.cunha@novasbe.pt | milton.sousa@novasbe.pt'], dtype=object)

In [2053]:
agg_functions = {
    'CLASS': 'count',
    'SLOTS': np.sum
    # 'COURSE NAME': 'first'  # Add 'COURSE NAME' to the aggregation functions
}

# ADDED! "CYCLE"
output_1 = dsd_df.groupby(['COURSE NAME', 'TERM', 'COURSE CODE', 'LANGUAGE', 'CYCLE']).agg(agg_functions).reset_index()
output_1 = output_1.rename(columns={'CLASS': 'Nº CLASSES', 'SLOTS': 'Nº STUDENTS'})


output_1.head()

,COURSE NAME,TERM,COURSE CODE,LANGUAGE,CYCLE,Nº CLASSES,Nº STUDENTS
0,Advanced Data Analysis,S1,2597,EN,MST,2,140
1,Advanced Financial Management,S1,2581,EN,MST,4,360
2,Advanced Marketing,S1,2430,EN,MST,8,480
3,Advanced Maths and Stats for Economics,T1,4508,EN,MST,1,999
4,Advanced Methods,S1,270107,EN,PHD,1,15

In [2054]:
dsd_df.TERM.value_counts(dropna=False)

TERM
S1    263
T2    127
T1    123
Name: count, dtype: int64

In [2055]:
course_demand = dsd_df.groupby(['course']).agg(agg_functions).reset_index()
course_demand = course_demand.rename(columns={'CLASS': 'number_classes', 'SLOTS': 'number_students'})

course_demand.head()

,course,number_classes,number_students
0,107789 || Innovation for Impact || T2 || EN,2,140
1,1104 || Seminário de Economia Europeia || S1 |...,3,105
2,1108 || Economia do Desenvolvimento || S1 || EN,2,70
3,1112 || Economia Industrial || S1 || EN,3,126
4,1113 || Economia Global I || S1 || EN,2,84

# SUPPLY - TA hours (current contract)

In [2056]:
contract = pd.read_excel(contract)

contract = contract[["TA", "CONTRACT"]]
contract["TA"] = contract["TA"].str.lower()

# Zero contracts
# ADDED! Caps "CONTRACT", remove faculty
zero_contracts = contract[contract['CONTRACT'] == 0]["TA"].unique()
contract = contract[contract['CONTRACT'] != 0]
contract = contract[~contract['TA'].isin(faculty_list)]

In [2057]:
zero_contracts

array(['silvia.guerra@novasbe.pt', 'joana.matos@novasbe.pt'], dtype=object)

In [2058]:
# Check for duplicates
contract[contract.duplicated()].TA.count()

0

In [2059]:
contract_emails = contract.TA.unique()

In [2060]:
contract.head()

                          TA  CONTRACT
0    abrao.kulaif@novasbe.pt     0.500
1  afonso.ribeiro@novasbe.pt     0.500
2  afonso.serrano@novasbe.pt     0.250
3   afonso.castro@novasbe.pt     0.500
4   afonso.duarte@novasbe.pt     0.175

# SUPPLY - TA preferences

## A. Preferences

In [2061]:
# Read the Excel file with the second row as the header
preferences_df = pd.read_excel(preferences, header=1)

# Sort the DataFrame by "End Date" column in descending order
preferences_df = preferences_df.sort_values(by='End Date', ascending=False)

# Rename the column to "TA"
preferences_df.rename(columns={'Please write your E-mail @novasbe.pt': 'TA'}, inplace=True)

# Convert the values in the "TA" column to lowercase
preferences_df['TA'] = preferences_df['TA'].str.lower()

# Create a new dataframe with column names and zero-indexed column numbers
column_df = pd.DataFrame({'Column Name': preferences_df.columns,
                          'Column Number': range(len(preferences_df.columns))})

# Remove TAs with zero_contracts
preferences_df = preferences_df[~preferences_df["TA"].isin(zero_contracts)]

# ADDED! Remove TAs wicha are faculty
preferences_df = preferences_df[~preferences_df["TA"].isin(faculty_list)]

# Create a mask to identify duplicates in the "TA" column
duplicates_mask = preferences_df.duplicated(subset='TA', keep=False)
preferences_duplicates = preferences_df[duplicates_mask]
preferences_duplicates = preferences_duplicates.sort_values(by='End Date', ascending=False)

preferences_duplicates_last = preferences_duplicates.drop_duplicates(subset='TA', keep='first').copy()

# Create a mask to check if columns 31:81 or 83:347 have values
value_mask = preferences_duplicates.iloc[:, 31:81].notnull().any(axis=1) | preferences_duplicates.iloc[:, 83:347].notnull().any(axis=1)
preferences_duplicates_values = preferences_duplicates[value_mask]
preferences_duplicates_values = preferences_duplicates_values.drop_duplicates(subset='TA', keep='first').copy()

# Drop duplicates based on the "TA" column
preferences_df = preferences_df[~duplicates_mask]

# Drop duplicates based on the "Full Name" column while keeping the row with the most recent "End Date" (ex. Franziska wrong)
preferences_df = preferences_df.drop_duplicates(subset='Full Name', keep='first')

# Create a new DataFrame with columns from preferences_duplicates_last
preferences_df_final = preferences_duplicates_last.copy()

# Get the relevant columns from preferences_duplicates_values
preference_columns = preferences_duplicates_values.columns[31:81].tolist() + preferences_duplicates_values.columns[83:347].tolist()

# Update the values in preferences_df_final using values from preferences_duplicates_values for preference_columns
preferences_df_final.set_index('TA', inplace=True, drop=False)
preferences_duplicates_values.set_index('TA', inplace=True, drop=False)
preferences_df_final.loc[preferences_duplicates_values.index, preference_columns] = preferences_duplicates_values[preference_columns].values

# Concatenate the remaining columns from preferences_df to preferences_df_final
preferences_df_final = pd.concat([preferences_df_final, preferences_df])

# Sort the final DataFrame by "End Date" column in descending order
preferences_df_final.sort_values(by='End Date', ascending=False, inplace=True)

# Reset the index of the final DataFrame
preferences_df_final.reset_index(drop=True, inplace=True)

# Drop duplicates based on the "Full Name" column while keeping the row with the most recent "End Date" (ex. Franziska wrong )
preferences_df_final.drop_duplicates(subset='Full Name', keep='first', inplace=True)

# Create a mapping of original column names to new column names (course ID as integer)
mapping = {}
# course_full_codes = []

for column_name in preference_columns:
    # Extract the course ID number from the column name
    # course_id = column_name.split(' || ')[0].split(' - ')[3] + " || " + column_name.split(' || ')[1] + ' || ' +  column_name.split(' || ')[2].split(' - ')[0]
    course_id = column_name.split(' || ')[0].split(' - ')[3] + " || "  + column_name.split(' || ')[0].split(' - ')[4]+ " || " + column_name.split(' || ')[1] + ' || ' +  column_name.split(' || ')[2].split(' - ')[0]
    
    # Extract full course ID for matching later
    # course_full_codes.append(column_name.split(' || ')[0].split(' - ')[3] + " || "  + column_name.split(' || ')[0].split(' - ')[4]+ " || " + column_name.split(' || ')[1] + ' || ' +  column_name.split(' || ')[2].split(' - ')[0])
    
    # Map the original column name to the course ID
    mapping[column_name] = course_id

# Remove duplicates
# course_full_codes = list(set(course_full_codes))

# Rename the columns using the mapping
preferences_df_final.rename(columns=mapping, inplace=True)

# Drop columns with list of courses (redundant) [30, 81, and 82]
preferences_df_final.drop(columns=preferences_df_final.iloc[:,[30, 81, 82]], inplace=True)

# OUTPUT #2
# Filter the DataFrame for rows where "Do you intend to continue your collaboration with Nova SBE next semester as Teaching Assistant?" 
# (column 20) is not equal to "No"
ta_exits = preferences_df_final[preferences_df_final.iloc[:, 19] == "No"].iloc[:, [17, 18, 20]]
ta_exits = ta_exits.rename(columns={ta_exits.columns[-1]: "Comments"}).sort_values("Full Name")

# ta_exits.to_excel("ta_exits_v1.xlsx", index=False)
ta_exits_list = ta_exits.TA.unique()

preferences_df_final = preferences_df_final[preferences_df_final.iloc[:, 19] != "No"]

In [2062]:
column_17 = column_df[column_df['Column Name'] == "Full Name"].iloc[0]["Column Number"]
column_18 = column_df[column_df['Column Name'] == "TA"].iloc[0]["Column Number"]

continue_str = "Do you intend to continue your collaboration with Nova SBE next semester"
continue_just_str = "Please write here a short justification on why you do not intend to continue"
bs_or_ms_str = "Do you prefer to be assigned to Bachelor’s or Master's courses?"
load_availability_str = "What is your availability in terms of workload and contract percentage for the next semester?"
ms_student_str = "In the upcoming semester, are you going to be a Nova SBE student?"
phd_restrictions_str = "Being a PhD student, do you have any constraint in the number of teaching hours or contract percentage"
new_workload_str = "What is your availability in terms of workload and contract percentage for the next semester"

column_19 = column_df[column_df['Column Name'].str.startswith(continue_str)].iloc[0]["Column Number"]
column_20 = column_df[column_df['Column Name'].str.startswith(continue_just_str)].iloc[0]["Column Number"]
column_21 = column_df[column_df['Column Name'].str.startswith(ms_student_str)].iloc[0]["Column Number"]
column_22 = column_df[column_df['Column Name'].str.startswith(bs_or_ms_str)].iloc[0]["Column Number"]
column_23 = column_df[column_df['Column Name'].str.startswith(phd_restrictions_str)].iloc[0]["Column Number"]
column_27 = column_df[column_df['Column Name'].str.startswith(load_availability_str)].iloc[0]["Column Number"]
column_28 = column_27 + 1
column_29 = column_28 + 1 # Be careful! This assumes there are TWO text boxes for available workload percentage

bs_str = "Please choose below your teaching preferences for Bachelor Courses."
column_30 = column_df[column_df['Column Name'].str.startswith(bs_str)].iloc[0]["Column Number"]
column_31 = column_30 + 1 # BE careful! This assumes there is ONE open text columns for bachelors preferences

ms_str = "Please choose below your teaching preferences for Masters Courses (grading)."
column_81 = column_df[column_df['Column Name'].str.startswith(ms_str)].iloc[0]["Column Number"]
column_82 = column_81 + 1 # BE careful! This assumes there are TWO open text columns for master preferences
column_83 = column_81 + 2 # BE careful! This assumes there are TWO open text columns for master preferences

print(column_17, column_18, column_19, column_20, column_21, column_22, column_23, column_27, column_28, column_29, column_30, column_31, column_81, column_82, column_83)

17 18 19 20 21 22 23 27 28 29 30 31 81 82 83

In [2063]:
column_df.iloc[column_28]

Column Name      What is your availability in terms of workload...
Column Number                                                   28
Name: 28, dtype: object

In [2064]:
print(f"Number of TAs who are leaving: {len(ta_exits_list)}")

Number of TAs who are leaving: 17

In [2065]:
# Check that can use the email as key/ ID
preferences_df_final["TA"].isnull().sum()

0

In [2066]:
# Check there are no duplicates names
preferences_df_final[preferences_df_final["Full Name"].duplicated()]["Response ID"].count()

0

In [2067]:
# Check there are no duplicates answers
preferences_df_final[preferences_df_final["TA"].duplicated()]["Response ID"].count()

0

In [2068]:
responded_number = preferences_df_final.shape[0] 
print(f"Number of TAs willing to continue who responded: {responded_number}")
display(preferences_df_final[["TA", "Full Name"]].head())

Number of TAs willing to continue who responded: 166

                              TA                                   Full Name
0  beatriz.f.ferreira@novasbe.pt                     Beatriz Frazão Ferreira
1        sara.b.lopes@novasbe.pt  Sara de Louxembourg Henriques Borges Lopes
3        marcio.silva@novasbe.pt                       Marcio Nunes da Silva
4        ana.lourenco@novasbe.pt                  Ana Filipa Duarte Lourenço
5     fabian.wassmann@novasbe.pt                             Fabian Wassmann

In [2069]:
# OUTPUT #N
preferences_df_final[~preferences_df_final.iloc[:,-1].isna()].iloc[:, [17, 18, -1]]

,Full Name,TA,Please write below your observations:
0,Beatriz Frazão Ferreira,beatriz.f.ferreira@novasbe.pt,Only for the course of Business Strategy and P...
3,Marcio Nunes da Silva,marcio.silva@novasbe.pt,"I can only handle one course per semester, sin..."
8,Andre Daniel Vinhas Nunes,andre.nunes@novasbe.pt,"""Economics of education"" and ""Competition Poli..."
9,Franziska Hittmair,hittmair.franziska@novasbe.pt,Global Strategic Management for CEMS
18,Valter Miguel Sobral Nóbrega,valter.nobrega@novasbe.pt,Wiseflow preference
21,Afonso Maria Jardim Gonçalves Teixeira Duarte,afonso.duarte@novasbe.pt,I would like to be assistant also in Risk Mana...
24,Gonçalo Maria de Abreu Peixoto Cordeiro de Sousa,goncalo.sousa@novasbe.pt,I would like to continue to work with Prof Ema...
30,Rafael de Almeida Sequeira,rafael.sequeira@novasbe.pt,If I am allocated to Investments (full course)...
33,Maria José Rodrigues Aniceto,maria.aniceto@novasbe.pt,I would like to keep grading financial managem...
34,Afonso Saraiva Câmara Leme,afonso.leme@novasbe.pt,First option is Economics of Education (shows ...
35,Carlos Alberto Antunes Reis Marques,carlos.marques@novasbe.pt,I have chosen the courses I have worked on bef...
39,Francisco Gonçalves Matias Mendes,francisco.g.mendes@novasbe.pt,"Ideally, I would prefer to have classes always..."
41,Milton Figueira,milton.figueira@novasbe.pt,O programa de Financial Modeling mudou radical...
48,João Mário de Almeida Caetano,joao.caetano@novasbe.pt,Next semester I will start working at Deloitte...
49,Joana Sousa Leite,joana.leite@novasbe.pt,I am also interested in other related Masters ...
51,Afonso Teixeira da Silva Quintela,afonso.quintela@novasbe.pt,Didn't choose any Bachelors course because I a...
55,Galina Vysotskaya,galina.vysotskaya@novasbe.pt,I would really love to teach Development Econo...
57,Madalena Lopes Pereira Marques da Silva,madalena.silva@novasbe.pt,"Já tinha submetido o forms, mas pedi para alte..."
59,Diogo Marques,diogo.marques@novasbe.pt,Apesar de ter dito que pretendo reduzir a minh...
64,João Maria Santos Matos Alves,joao.alves@novasbe.pt,In the past years i have been a TA of the cour...
68,Amélia Rita de Oliveira Vinhas Nunes Monteiro,amelia.n.monteiro@novasbe.pt,Only master courses
72,Francisco França Rodrigues,francisco.f.rodrigues@novasbe.pt,My grading options are for a last resort scena...
75,Pedro Miguel Carreira dos Santos,pedro.m.santos@novasbe.pt,"Possible ranking would be: energy, environment..."
76,Nuno Miguel Camilo Ribeiro,nuno.ribeiro@novasbe.pt,I am more interested in marketing courses. i a...
82,Lucas Franieck,lucas.franieck@novasbe.pt,I have worked with Professor Antonio Marinho T...
85,Ana Claudia Mariano Oliveira,ana.claudia.oliveira@novasbe.pt,Due to my current professional situation outsi...
87,Alessandro Gambetti,gambetti.alessandro@novasbe.pt,IMPORTANT: I am welcome to be a TA next semest...
89,Marlon Eduardo dos Santos Martins Francisco,marlon.e.francisco@novasbe.pt,Strong preference for Econometrics' classes
91,João Pedro Ramos Ferreira,joao.ferreira@novasbe.pt,My strong preference would be to remain an Ind...
97,Teresa Duarte Graça Luiz,teresa.graca@novasbe.pt,Work Projects for the Master in Impact Entrepr...
103,Matilde Filipa Dos Santos Alves,matilde.alves@novasbe.pt,I would like to teach my 3rd semester of Manag...
105,Stefano Granicni,stefano.grancini@novasbe.pt,I would like to keep Intermediate Macroeconomi...
107,Mariana Videira,mariana.m.videira@novasbe.pt,For the next semester I would prefer to lectur...
108,Henrique Domingos da Silva Santos,henrique.d.santos@novasbe.pt,Classes must be concentrated in 1 single day. ...
112,João Nuno Rebelo da Silva Monjardim Quelhas,joao.quelhas@novasbe.pt,"No ano 22/23, tive 3 turmas de Macro e fiz gra..."
120,Mehdi Lehlali,mehdi.lehlali@novasbe.pt,"Same as last two years, corporate finance at t..."
127,Ruben Gonçalo Godinho Bento,ruben.bento@novasbe.pt,As in this semester I would like to keep my 50...
132,claudia de jesus letras vaqueiro,claudia.vaqueiro@novasbe.pt,According to prior semester experience I need ...
133,Diogo Augusto Coutinho Pereira,diogo.a.pereira@novasbe.pt,I really need grading with no regular class sc...
135,Lourenco Leite,lourenco.leite@novasbe.pt,Entrepreneurship with Prof. Nadim
136,Luís de Andrade Guerra Leal de Faria,luis.faria@novasbe.pt,If it would be possible to reduce my workload ...
139,Radek Oros,radek.oros@novasbe.pt,Would like to request to remain as TA/Grader o...
143,Teresa Moana Mannebach,teresa.mannebach@novasbe.pt,"Entrepreneurship as always, PLEASE!"
144,Iqra Hamid,iqra.hamid@novasbe.pt,Preference for courses for which exams take pl...
152,Tomás Alves Ambrósio,tomas.a.ambrosio@novasbe.pt,I might be available to be the TA of the BSc's...
153,MARIA INES GONCALVES CHARRO,maria.charro@novasbe.pt,I will continue to live in the US in the next ...
154,Anastasiia Smirnova,anastasiia.smirnova@novasbe.pt,You don't provide following courses in a lists...
155,Isabel Henriques de Brito Cabral Burguete,isabel.burguete@novasbe.pt,Equipa vencedora não se muda :)
157,Alice Isabel Manilhas Nunes,alice.nunes@novasbe.pt,I am not able to teach bachelor courses as I a...
161,Filipa Maria Marques Albano,filipa.albano@novasbe.pt,Only available to teach statistics II (2434) o...
163,Mariana Nobre,mariana.nobre@novasbe.pt,"As of now, I have been grader of Financial Man..."
166,Carolina Pereira Lima Tomás Lourenço,carolina.lourenco@novasbe.pt,"Unfortunately, I could only be available at 8a..."
167,Daniel Alexandre Lucas Mugeiro da Silva,daniel.silva@novasbe.pt,"My main objective is to have 4 classes, they c..."
168,Ana Rita Duarte Tapadinhas,ana.tapadinhas@novasbe.pt,Although my preferred area for Masters courses...
171,Francisco Leonardo Ramos,francisco.l.ramos@novasbe.pt,"Para além da cadeira de Auditoria, gostaria ta..."
173,Diogo Manuel Ferreira de Lima,diogo.lima@novasbe.pt,"If I have 2 classes, I would like for them to ..."
177,Ricardo Coelho da Silva,ricardo.c.silva@novasbe.pt,I would strongly like to be a TA for Corporate...
178,Sam Applebee,sam.applebee@novasbe.pt,The drag and drop system does not function on ...
180,Yulia Vachevskikh,yulia.vachevskikh@novasbe.pt,If there are any courses with Utku Serhatli or...

In [2070]:
# OUTPUT #N
preferences_df_final[~preferences_df_final["TA"].isin(contract_emails)][["TA", "Full Name"]]

                         TA     Full Name
61            dd@novasbe.pt          dddd
81   pedrobrinca@novasbe.pt  Pedro Brinca
111          xxx@novasbe.pt           xxx
114           aa@novasbe.pt           aaa
134         test@novasbe.pt          test

In [2071]:
# Get the course columns
course_columns = preferences_df_final.columns[30:-1]

# Create a new DataFrame for the adapted format
adapted_df = pd.DataFrame(columns=["TA", "course", "preference", "preference_type"])

# Define the translation mapping for column 22 values
translation_mapping = {
    "Masters' Courses": 2,
    "Bachelors' Courses": 0,
    "Indifferent": 1,
    pd.NaT: 1  # Assuming NaN values should also be considered "Indifferent"
}

# Iterate over the course columns
for course in course_columns:
    # Check if the course has already been processed
    if course in adapted_df["course"].unique():
        continue

    # Get the duplicate columns for the current course
    duplicate_columns = [col for col in course_columns if col != course and col.endswith(course)]

    # Combine the duplicate columns into a single column
    combined_column = preferences_df_final[[course] + duplicate_columns].ffill(axis=1).iloc[:, -1]

    # Filter the DataFrame for non-null values in the combined column
    non_null_mask = combined_column.notnull()
    non_null_df = preferences_df_final[non_null_mask]

    # Get the teacher names and their corresponding preference rankings for the current course
    teacher_names = non_null_df["TA"]
    preference_rankings = combined_column[non_null_mask]

    # Get the corresponding preference types based on the translation mapping
    preference_types = non_null_df.iloc[:, 22].map(translation_mapping)

    # Create a DataFrame for the current course, preference rankings, and preference types
    course_df = pd.DataFrame({"TA": teacher_names, "course": [course] * len(teacher_names),
                              "preference": preference_rankings, "preference_type": preference_types})

    # Concatenate course_df with adapted_df
    adapted_df = pd.concat([adapted_df, course_df], ignore_index=True)
    
    # Create the 'masters_course' column based on the condition
    adapted_df['masters_course'] = adapted_df['course'].apply(lambda x: 0 if x.split(' ')[0].startswith('1') else 1)

    # Convert "preference" column to integers
    adapted_df['preference'] = adapted_df['preference'].astype(np.int8)

    # Remove preferences above 5
    adapted_df = adapted_df[adapted_df['preference']<=5]

In [2072]:
# Check there are no preferences above 5 and below 1
print(adapted_df['preference'].min())
print(adapted_df['preference'].max())

1
5

In [2073]:
completed_preferences = adapted_df["TA"].unique()
completed_preferences_number = len(completed_preferences)
print(f"Number of TAs with completed preferences: {completed_preferences_number}")
# display(completed_preferences)

Number of TAs with completed preferences: 154

In [2074]:
# OUTPUT #6
# ADDED! removed :-1
# adapted_df.iloc[:,:-1].head()
adapted_df.head()

,TA,course,preference,preference_type,masters_course
0,marlon.e.francisco@novasbe.pt,1104 || Seminar in European Economics || S1 || EN,5,1,0
1,luis.pereira@novasbe.pt,1104 || Seminar in European Economics || S1 || EN,5,0,0
2,stefano.grancini@novasbe.pt,1104 || Seminar in European Economics || S1 || EN,3,1,0
3,joao.quelhas@novasbe.pt,1104 || Seminar in European Economics || S1 || EN,5,0,0
4,luis.faria@novasbe.pt,1104 || Seminar in European Economics || S1 || EN,1,2,0

In [2075]:
adapted_df[adapted_df["TA"]=="bernardo.costa@novasbe.pt"]

,TA,course,preference,preference_type,masters_course
167,bernardo.costa@novasbe.pt,1312 || Data Analysis and Probability || S1 || EN,3,1,0
179,bernardo.costa@novasbe.pt,1313 || Statistics for Economics and Managemen...,2,1,0
187,bernardo.costa@novasbe.pt,1314 || Econometrics || S1 || EN,4,1,0
193,bernardo.costa@novasbe.pt,1318 || Introduction to Programming || S1 || EN,1,1,0
499,bernardo.costa@novasbe.pt,2477 || Introduction to Programming || S1 || EN,2,1,1
558,bernardo.costa@novasbe.pt,2597 || Advanced Data Analysis || S1 || EN,1,1,1
566,bernardo.costa@novasbe.pt,2609 || Data Visualization for Business Analyt...,4,1,1
610,bernardo.costa@novasbe.pt,2659 || Data Curation for Business Analytics |...,3,1,1

## B. New contract (preferences)

In [2076]:
contact_list = contract[(~contract.TA.isin(completed_preferences)) & (~contract.TA.isin(ta_exits_list))]
print(contact_list.shape[0])
display(contact_list)
contact_list.to_excel("ta_contact_list_v1.xlsx", index=False)

29

                                TA  CONTRACT
1        afonso.ribeiro@novasbe.pt     0.500
3         afonso.castro@novasbe.pt     0.500
20            ana.silva@novasbe.pt     0.200
24           andre.tome@novasbe.pt     0.100
32      beatriz.marques@novasbe.pt     0.250
33        beatriz.bento@novasbe.pt     0.125
47      claudia.castico@novasbe.pt     0.375
54    daniele.gamberoni@novasbe.pt     0.200
56       diogo.v.rebelo@novasbe.pt     0.400
70   hittmair.franziska@novasbe.pt     0.250
80         ines.caetano@novasbe.pt     0.200
84        jessica.lomba@novasbe.pt     1.000
96      joao.p.baptista@novasbe.pt     0.250
97           joao.fanha@novasbe.pt     0.500
102      joaquim.f.goes@novasbe.pt     0.375
111        lorian.abazi@novasbe.pt     0.250
117         luis.simoes@novasbe.pt     0.350
125        marco.mendes@novasbe.pt     0.150
133         joana.barba@novasbe.pt     0.500
142     marli.fernandes@novasbe.pt     0.125
147    mateus.rodrigues@novasbe.pt     0.400
152      miguel.conduto@novasbe.pt     0.500
159           nuno.reis@novasbe.pt     0.250
165      patricia.silva@novasbe.pt     0.500
178       ricardo.silva@novasbe.pt     0.250
183         robert.hill@novasbe.pt     0.500
187        sam.applebee@novasbe.pt     0.250
196       susana.santos@novasbe.pt     0.250
204           tomas.vaz@novasbe.pt     0.250

In [2077]:
def round_to_closest(value):
    if pd.isnull(value):
        return np.nan
    else:
        # rounded_value = round(value * 8) / 8  # Round to the nearest multiple of 0.125
        capped_value = min(value, 0.5)  # Cap the value at 0.5
        capped_value = max(value, 0.1)  # Cap the value at 0.1
        return capped_value

# Clean the "load_requested" column
def clean_percentage(value):
    if pd.isnull(value):
        return value
    elif isinstance(value, str):
        # Check if the value contains only text characters
        if value.isalpha():
            return np.nan

        # Extract numeric values from string
        numeric_value = ''.join(filter(str.isdigit, value))

        if numeric_value == '':
            return np.nan

        if numeric_value == '100':
            return 100

        if len(numeric_value) >= 2:
            integer_part = numeric_value[:2]
            decimal_part = numeric_value[2:]
            return float(integer_part + '.' + decimal_part)

        return np.nan

    elif isinstance(value, (int, float)):
        return float(value) / 100

    return value

def decrease_contract_level(value):
    return value - 0.125


mapping = {
    "I want to increase the contract percentage/workload in the next semester (please specify the desired contract percentage level)": 1,
    "I want to keep the same contract percentage/workload as this semester": 0,
    "I want to reduce the contract percentage/workload in the next semester (please specify the desired contract percentage level)": -1,
    pd.NaT: 0
}

mapping_21 = {
    "Yes, I am a PhD student": 0,
    "Yes, I will be a Masters student but not doing any courses, only the Work Project": 0,
    "Yes, I will be a Masters student and I will be doing at least one more course": 1,
    "No": 0,
    pd.NaT: 0
}

mapping_23 = {
    "Yes, I have some other constraints that limit my teaching hours/workload (please specify the reason and the limit)": 1,
    "Yes, I have a FCT scholarship that limits my weekly teaching hours to 4h per week": 1,
    "No": 0,
    pd.NaT: 0
}

################################################################################################################################################

mask = preferences_df_final.iloc[:, 27].notna()
new_contract = preferences_df_final[mask].iloc[:, [18, 21, 23, 27, 28, 29]]

new_contract.columns = ['TA', 'master_student', 'PhD_restrictions', 'change_load', 'new_contract_decreased_load', 'new_contract_increased_load']
new_contract['change_load'] = new_contract['change_load'].map(mapping)
new_contract['master_student'] = new_contract['master_student'].map(mapping_21).fillna(0).astype(int)
new_contract['PhD_restrictions'] = new_contract['PhD_restrictions'].map(mapping_23).fillna(0).astype(int)

# Convert TA column to lowercase
new_contract['TA'] = new_contract['TA'].str.lower()

new_contract['new_contract_decreased_load'] = new_contract['new_contract_decreased_load'].apply(clean_percentage) / 100
new_contract['new_contract_increased_load'] = new_contract['new_contract_increased_load'].apply(clean_percentage) / 100

# Merge "new_contract_decreased_load" and "new_contract_increased_load" into "load_requested"
new_contract['load_requested'] = new_contract[['new_contract_decreased_load', 'new_contract_increased_load']].mean(axis=1)
new_contract['load_requested'] = new_contract['load_requested'].apply(round_to_closest)

# Drop "new_contract_decreased_load" and "new_contract_increased_load" columns
new_contract.drop(columns=['new_contract_decreased_load', 'new_contract_increased_load'], inplace=True)

In [2078]:
# OUTPUT #3
new_contract[new_contract.change_load !=0].sort_values(by="change_load",ascending=False)

,TA,master_student,PhD_restrictions,change_load,load_requested
3,marcio.silva@novasbe.pt,0,1,1,NaN
98,rodrigo.duarte@novasbe.pt,0,0,1,0.500
180,yulia.vachevskikh@novasbe.pt,0,1,1,1.000
173,diogo.lima@novasbe.pt,0,0,1,0.250
170,fernanda.rates@novasbe.pt,0,0,1,0.500
167,daniel.silva@novasbe.pt,0,0,1,0.500
164,isabel.silva.carvalho@novasbe.pt,0,0,1,NaN
154,anastasiia.smirnova@novasbe.pt,0,0,1,0.500
140,hugo.sousa@novasbe.pt,0,0,1,0.500
138,pamela.pacciani@novasbe.pt,0,0,1,0.500
130,paulo.marques@novasbe.pt,0,0,1,1.000
122,tiago.troco@novasbe.pt,0,0,1,0.250
116,maria.vidal@novasbe.pt,0,0,1,0.500
112,joao.quelhas@novasbe.pt,0,0,1,0.500
101,rita.santos@novasbe.pt,0,0,1,0.500
99,frederico.toulson@novasbe.pt,0,0,1,0.500
108,henrique.d.santos@novasbe.pt,0,0,1,0.375
93,jose.ferrao@novasbe.pt,0,0,1,0.751
54,rui.boavida@novasbe.pt,0,0,1,0.500
88,mafalda.afonso@novasbe.pt,0,0,1,0.500
8,andre.nunes@novasbe.pt,0,0,1,0.500
79,constanca.b.roquette@novasbe.pt,0,0,1,0.375
76,nuno.ribeiro@novasbe.pt,0,0,1,0.352
75,pedro.m.santos@novasbe.pt,0,1,1,0.500
21,afonso.duarte@novasbe.pt,0,0,1,0.500
48,joao.caetano@novasbe.pt,0,0,1,0.500
64,joao.alves@novasbe.pt,0,0,1,0.500
92,mariana.m.marques@novasbe.pt,0,0,1,0.354
51,afonso.quintela@novasbe.pt,0,0,1,NaN
181,joao.pato@novasbe.pt,0,1,-1,0.250
175,tomas.rodrigues@novasbe.pt,0,0,-1,0.200
17,daniela.afonso@novasbe.pt,0,0,-1,0.250
156,joao.gama@novasbe.pt,0,0,-1,0.250
59,diogo.marques@novasbe.pt,0,0,-1,0.253
152,tomas.a.ambrosio@novasbe.pt,0,0,-1,NaN
148,laman.orujova@novasbe.pt,0,0,-1,0.350
136,luis.faria@novasbe.pt,0,0,-1,0.150
132,claudia.vaqueiro@novasbe.pt,0,0,-1,0.100
125,pedro.castro@novasbe.pt,0,0,-1,0.125
77,renato.goncalves@novasbe.pt,0,0,-1,0.100
5,fabian.wassmann@novasbe.pt,0,1,-1,0.125
100,filipe.lopes@novasbe.pt,0,0,-1,0.250
182,lara.pico@novasbe.pt,0,1,-1,0.250

In [2079]:
# Check new_contract_load is formatted correctly
# new_contract.load_requested.value_counts()

In [2080]:
number_TAS = len(new_contract[new_contract.change_load.isin([1,-1])])
print(f"Number of TAs who want to change their contract: {number_TAS}")

Number of TAs who want to change their contract: 43

In [2081]:
all_contracts = contract.merge(new_contract, how="left", on="TA")

# Filter rows where change_load is not equal to 0
filtered_contracts = all_contracts[all_contracts['change_load'] != 0].copy()

# Decrease contract to load_requested for rows where change_load is -1
filtered_contracts.loc[filtered_contracts['change_load'] == -1, 'new_contract'] = filtered_contracts['load_requested']
# ADDED! Caps "CONTRACT"
filtered_contracts.loc[(filtered_contracts['change_load'] == -1) & (filtered_contracts['load_requested'].isnull()), 'new_contract'] = filtered_contracts.apply(lambda row: decrease_contract_level(row['CONTRACT']), axis=1)

# # Increase contract for no restrictions
# filtered_contracts.loc[(filtered_contracts['change_load'] == 1) & (filtered_contracts['restrictions'] == 0), 'new_contract'] = filtered_contracts['load_requested']
# filtered_contracts.loc[(filtered_contracts['change_load'] == 1) & (filtered_contracts['restrictions'] == 0) & (filtered_contracts['load_requested'].isnull()), 'new_contract'] = np.minimum(filtered_contracts['contract'] * 2, 0.5)

# Apply conditions for updating new_contract based on change_load and restrictions
# filtered_contracts.loc[(filtered_contracts['change_load'] == 1) & (filtered_contracts['restrictions'] == 1), 'new_contract'] = filtered_contracts['contract']
# filtered_contracts.loc[(filtered_contracts['change_load'] == 1) & (filtered_contracts['restrictions'] == 2), 'new_contract'] = np.maximum(filtered_contracts['contract'], 0.25)

# Fill NaN values with the original contract value
# ADDED! Caps "CONTRACT"
filtered_contracts['new_contract'].fillna(filtered_contracts['CONTRACT'], inplace=True)

# Create a new column "new_contract" in the original DataFrame with NaN values
all_contracts['new_contract'] = np.nan

# Update the "new_contract" column in the original DataFrame with the filtered values
all_contracts.update(filtered_contracts[['new_contract']])
# ADDED! Caps "CONTRACT"
all_contracts['new_contract'].fillna(all_contracts['CONTRACT'], inplace=True)

# Round the "new_contract" values to the closest contract level (0.125, 0.25, 0.375, 0.5)
# all_contracts['new_contract'] = all_contracts['new_contract'].apply(round_to_closest)

# Drop emails which currently do not have a contract (ex. pedro.brinca)
# ADDED! Caps "CONTRACT"
all_contracts = all_contracts[all_contracts.CONTRACT.notna()]

In [2082]:
# Check there are no TAs wihout current contract
all_contracts[all_contracts.CONTRACT.isnull()].TA.to_list()

[]

In [2083]:
all_contracts = all_contracts[["TA", "new_contract", "master_student"]]

## C. Merge SUPPLY and DEMAND

In [2084]:
ta_preferences = adapted_df.merge(all_contracts, how="left", on="TA", indicator=True)
ta_preferences.head()

,TA,course,preference,preference_type,masters_course,new_contract,master_student,_merge
0,marlon.e.francisco@novasbe.pt,1104 || Seminar in European Economics || S1 || EN,5,1,0,0.500,0.000,both
1,luis.pereira@novasbe.pt,1104 || Seminar in European Economics || S1 || EN,5,0,0,0.500,1.000,both
2,stefano.grancini@novasbe.pt,1104 || Seminar in European Economics || S1 || EN,3,1,0,0.250,0.000,both
3,joao.quelhas@novasbe.pt,1104 || Seminar in European Economics || S1 || EN,5,0,0,0.375,0.000,both
4,luis.faria@novasbe.pt,1104 || Seminar in European Economics || S1 || EN,1,2,0,0.150,0.000,both

In [2085]:
# Check for non-matching TAs
non_matching_values = ta_preferences[ta_preferences['_merge'] != 'both']
ta_preferences.drop(columns=["_merge"], inplace=True)
display(non_matching_values)

Empty DataFrame
Columns: [TA, course, preference, preference_type, masters_course, new_contract, master_student, _merge]
Index: []

In [2086]:
market = ta_preferences.merge(course_demand, how="left", on="course", indicator=True)

# market['number_classes'] = pd.to_numeric(market['number_classes'], errors='coerce').astype(pd.Int64Dtype())
# market['number_students'] = pd.to_numeric(market['number_students'], errors='coerce').astype(pd.Int64Dtype())

In [2087]:
non_matching_values = market[market['_merge'] != 'both']
market.drop(columns=["_merge"], inplace=True)

non_matching_courses = non_matching_values[["course"]].drop_duplicates()
non_matching_courses = non_matching_courses.copy()
non_matching_courses[["course_code", "course_name", "period", "language"]] = non_matching_courses["course"].str.split(" \|\| ", expand=True)

course_demand_extended = course_demand.copy()
course_demand_extended[["course_code", "course_name", "period", "language"]] = course_demand["course"].str.split(" \|\| ", expand=True)
course_demand_extended = course_demand_extended[["course", "course_code", "course_name", "period", "language"]]

In [2088]:
# Initialize an empty DataFrame to store the concatenated results
concatenated_matches = pd.DataFrame()

# Merge on 'course_code', 'period', and 'language'
merged_courses = pd.merge(non_matching_courses, course_demand_extended, on=["course_code", "period", "language"], how="left", suffixes=("", "_new"))
still_unmatched = merged_courses[merged_courses["course_new"].isna()][["course", "course_name", "course_code", "period", "language"]]
concatenated_matches = pd.concat([concatenated_matches, merged_courses[~merged_courses["course_new"].isna()][["course", "course_new"]]])

# Merge on 'course_name', 'period', and 'language'
merged_courses = pd.merge(still_unmatched, course_demand_extended, on=["course_name", "period", "language"], how="left", suffixes=("", "_new"))
still_unmatched = merged_courses[merged_courses["course_new"].isna()][["course", "course_name", "course_code", "period", "language"]]
concatenated_matches = pd.concat([concatenated_matches, merged_courses[~merged_courses["course_new"].isna()][["course", "course_new"]]])

# Merge on 'course_code' and 'period'
merged_courses = pd.merge(still_unmatched, course_demand_extended, on=["course_code", "period"], how="left", suffixes=("", "_new"))
still_unmatched = merged_courses[merged_courses["course_new"].isna()][["course", "course_name", "course_code", "period", "language"]]
concatenated_matches = pd.concat([concatenated_matches, merged_courses[~merged_courses["course_new"].isna()][["course", "course_new"]]])

# # [DANGER! Might include courses from different semester] Merge on 'course_code' and 'language' 
# merged_courses = pd.merge(still_unmatched, course_demand_extended, on=["course_code", "language"], how="left", suffixes=("", "_new"))
# still_unmatched = merged_courses[merged_courses["course_new"].isna()][["course", "course_name", "course_code", "period", "language"]]
# concatenated_matches = pd.concat([concatenated_matches, merged_courses[~merged_courses["course_new"].isna()][["course", "course_new"]]])

# Merge concatenated_matches on the market DataFrame to add the "course_new" column
market = pd.merge(market, concatenated_matches[["course", "course_new"]], on=["course"], how="left")
market["course_new"].fillna(market["course"], inplace=True)
market.rename(columns={"course": "course_old"}, inplace=True)
market.drop(columns=["course_old"], inplace=True)
market.rename(columns={"course_new": "course"}, inplace=True)

# Merge market and course_demand on "course" column
merged_market = pd.merge(market, course_demand[["course", "number_classes", "number_students"]], on="course", how="left", suffixes=("", "_demand"))

# Fill NaN values in number_classes and number_students columns
merged_market["number_classes"].fillna(merged_market["number_classes_demand"], inplace=True)
merged_market["number_students"].fillna(merged_market["number_students_demand"], inplace=True)

# Drop the unnecessary columns
merged_market.drop(columns=["number_classes_demand", "number_students_demand"], inplace=True)

In [2089]:
# OUTPUT #4
# Display the updated merged_market DataFrame
no_matches_final = merged_market[(merged_market.number_classes.isna()) | (merged_market.number_students.isna())][["course"]]
no_matches_final = no_matches_final.drop_duplicates()
display(no_matches_final)

# Drop these courses
merged_market.dropna(subset=["number_classes", "number_students"], inplace=True)

                                                course
228         2134 || Economics of Education || T1 || EN
332         2260 || Nova Students Portfolio || A || EN
360  2329 || Consumer and Managerial Decision Makin...
365              2330 || Consumer Behavior || T2 || EN
470  2452 || Business Strategy and Practice || T2 |...
560  2604 || Brand Management for Hospitality || T2...
569        2621 || Algorithmic Governance  || T1 || EN
582  2642 || Principles of Shopper Marketing || T2 ...
586              2645 || Tourism Marketing || S1 || EN
604                  2653 || Impact Makers || S1 || EN
606  2655 || Introduction to Hospitality  & Tourism...
626        2742 || Policy Analysis Exercise || A || EN
654     2877 || Strategy in Global Markets || S1 || EN
659     2957 || Applied Business analytics || S1 || EN
660        2958 || Applied Global Strategy || S1 || EN

## D. Compute capacity

In [2090]:
# Create the "semester" column based on the condition
merged_market['semester'] = merged_market['course'].apply(lambda x: 1 if x.split(' || ')[2].startswith('S') else 0)
# merged_market['ms_capacity'] = merged_market['new_contract'] * 36

display(merged_market[(merged_market['semester'].isnull() | merged_market['masters_course'].isnull())])

# Define a function to apply the conditions
def calculate_weight(row):
    if pd.isnull(row['semester']) or pd.isnull(row['masters_course']):
        return np.nan
    elif row['semester'] == 1 and row['masters_course'] == 1:
        return ((row['number_students'] * 2.33) / 16) / 36
    elif row['semester'] == 0 and row['masters_course'] == 1:
        return ((row['number_students'] * 1.25) / 16) / 36
    else:
        return np.nan

# Apply the function to create the 'ms_weight' column
merged_market['weight'] = merged_market.apply(calculate_weight, axis=1)

# Set 'ms_capacity' to NaN when 'masters_course' is 0
# merged_market.loc[merged_market['masters_course'] == 0, 'ms_capacity'] = np.nan
# merged_market.loc[merged_market['masters_course'] == 0, 'ms_weight'] = np.nan

Empty DataFrame
Columns: [TA, preference, preference_type, masters_course, new_contract, master_student, number_classes, number_students, course, semester]
Index: []

In [2091]:
merged_market[merged_market.TA=="bernardo.costa@novasbe.pt"]

,TA,preference,preference_type,masters_course,new_contract,master_student,number_classes,number_students,course,semester,weight
167,bernardo.costa@novasbe.pt,3,1,0,0.333,0.000,2.000,90.000,1312 || Análise de Dados e Probabilidade || S1...,1,NaN
179,bernardo.costa@novasbe.pt,2,1,0,0.333,0.000,8.000,340.000,1313 || Estatística para Economia e Gestão || ...,1,NaN
187,bernardo.costa@novasbe.pt,4,1,0,0.333,0.000,2.000,76.000,1314 || Econometria || S1 || EN,1,NaN
193,bernardo.costa@novasbe.pt,1,1,0,0.333,0.000,2.000,90.000,1318 || Programação || S1 || EN,1,NaN
499,bernardo.costa@novasbe.pt,2,1,1,0.333,0.000,4.000,320.000,2477 || Introduction to Programming || S1 || EN,1,1.294
558,bernardo.costa@novasbe.pt,1,1,1,0.333,0.000,2.000,140.000,2597 || Advanced Data Analysis || S1 || EN,1,0.566
566,bernardo.costa@novasbe.pt,4,1,1,0.333,0.000,2.000,140.000,2609 || Data Visualization for Business Analyt...,0,0.304
610,bernardo.costa@novasbe.pt,3,1,1,0.333,0.000,2.000,130.000,2659 || Data Curation for Business Analytics |...,0,0.282

In [2092]:
merged_market.masters_course.value_counts(dropna=False)

masters_course
1    394
0    228
Name: count, dtype: int64

### Get file course list to manually input the weights

In [2093]:
course_demand_extended['masters_course'] = course_demand_extended['course'].apply(lambda x: 0 if x.split(' ')[0].startswith('1') else 1)
course_demand_extended_bs = course_demand_extended[course_demand_extended.masters_course==0]
course_demand_extended_bs = course_demand_extended_bs.drop(columns=["masters_course"])
course_demand_extended_bs["weight"] = ""
course_demand_extended_bs.to_excel("course_demand_extended_bs.xlsx", index=False)

### Read the manually inputed weights

In [2094]:
bs_weights_df = pd.read_excel(bs_weights)[["course", "weight"]]
bs_weights_df["weight"] = bs_weights_df["weight"] * 0.125
bs_weights_df.weight.value_counts(dropna=False)

weight
0.125    89
0.333     9
0.167     3
0.250     1
Name: count, dtype: int64

In [2095]:
final_market = pd.merge(merged_market, bs_weights_df, on=["course"], how="left", suffixes=("", "_bs"), indicator=True)
final_market.head()

,TA,preference,preference_type,masters_course,new_contract,master_student,number_classes,number_students,course,semester,weight,weight_bs,_merge
0,marlon.e.francisco@novasbe.pt,5,1,0,0.500,0.000,3.000,105.000,1104 || Seminário de Economia Europeia || S1 |...,1,NaN,0.125,both
1,luis.pereira@novasbe.pt,5,0,0,0.500,1.000,3.000,105.000,1104 || Seminário de Economia Europeia || S1 |...,1,NaN,0.125,both
2,stefano.grancini@novasbe.pt,3,1,0,0.250,0.000,3.000,105.000,1104 || Seminário de Economia Europeia || S1 |...,1,NaN,0.125,both
3,joao.quelhas@novasbe.pt,5,0,0,0.375,0.000,3.000,105.000,1104 || Seminário de Economia Europeia || S1 |...,1,NaN,0.125,both
4,luis.faria@novasbe.pt,1,2,0,0.150,0.000,3.000,105.000,1104 || Seminário de Economia Europeia || S1 |...,1,NaN,0.125,both

In [2096]:
# Check there are no BS courses without weight
final_market[(final_market["_merge"] != "both") & (final_market.masters_course==0)]

Empty DataFrame
Columns: [TA, preference, preference_type, masters_course, new_contract, master_student, number_classes, number_students, course, semester, weight, weight_bs, _merge]
Index: []

In [2097]:
final_market.rename(columns={"new_contract": "capacity"}, inplace=True) # "weight": "bs_weight", 
final_market.drop(columns="_merge", inplace=True)

# ADDED! multiply by number of classes
final_market["weight"] = final_market["weight"].fillna(final_market["weight_bs"] * final_market["number_classes"])
final_market.drop(columns=["weight_bs"], inplace=True)

# final_market.loc[final_market['masters_course'] == 1, 'bs_capacity'] = np.nan
# final_market.loc[final_market['masters_course'] == 1, 'bs_weight'] = np.nan

In [2098]:
tas = final_market.TA.unique()

# Find elements missing in array1 compared to array2
missing_elements = np.setdiff1d(completed_preferences, tas)

# OUTPUT #N: TAs affected by unmatched courses
print(missing_elements)

['beatriz.f.ferreira@novasbe.pt' 'mariana.pires@novasbe.pt']

### Examples

In [2099]:
# final_market[final_market.TA=="bernardo.costa@novasbe.pt"].sort_values(by=['preference_type', 'preference'],ascending=[False,True])
final_market[final_market.TA=="fabian.wassmann@novasbe.pt"].sort_values(by=['preference_type', 'preference'],ascending=[False,True])

,TA,preference,preference_type,masters_course,capacity,master_student,number_classes,number_students,course,semester,weight
297,fabian.wassmann@novasbe.pt,1,2,1,0.125,0.000,1.000,80.000,2233 || Macroeconomics of Financial Markets ||...,0,0.174
323,fabian.wassmann@novasbe.pt,2,2,1,0.125,0.000,3.000,300.000,2269 || Empirical Methods for Finance || T1 || EN,0,0.651
415,fabian.wassmann@novasbe.pt,3,2,1,0.125,0.000,2.000,160.000,2434 || Statistics II || T1 || EN,0,0.347
427,fabian.wassmann@novasbe.pt,4,2,1,0.125,0.000,2.000,160.000,2435 || Statistics III || T1 || EN,0,0.347
256,fabian.wassmann@novasbe.pt,5,2,1,0.125,0.000,1.000,60.000,2193 || Behavioral Economics and Finance || T1...,0,0.130

In [2100]:
final_market[final_market.course=='2193 || Behavioral Economics and Finance || T1 || EN'].sort_values(by=['preference_type', 'preference'],ascending=[False,True]) # '1117 || Introdução à Microeconomia || S1 || EN'
# final_market[final_market.course=="2597 || Advanced Data Analysis || S1 || EN"].sort_values(by=['preference_type', 'preference'],ascending=[False,True])

,TA,preference,preference_type,masters_course,capacity,master_student,number_classes,number_students,course,semester,weight
262,priya.krishnan@novasbe.pt,1,2,1,0.500,0.000,1.000,60.000,2193 || Behavioral Economics and Finance || T1...,0,0.130
261,iqra.hamid@novasbe.pt,2,2,1,0.500,0.000,1.000,60.000,2193 || Behavioral Economics and Finance || T1...,0,0.130
259,luis.morais@novasbe.pt,3,2,1,0.300,0.000,1.000,60.000,2193 || Behavioral Economics and Finance || T1...,0,0.130
258,galina.vysotskaya@novasbe.pt,4,2,1,0.250,0.000,1.000,60.000,2193 || Behavioral Economics and Finance || T1...,0,0.130
263,joao.pato@novasbe.pt,4,2,1,0.250,0.000,1.000,60.000,2193 || Behavioral Economics and Finance || T1...,0,0.130
256,fabian.wassmann@novasbe.pt,5,2,1,0.125,0.000,1.000,60.000,2193 || Behavioral Economics and Finance || T1...,0,0.130
257,svitlana.sivitskaya@novasbe.pt,3,1,1,0.250,0.000,1.000,60.000,2193 || Behavioral Economics and Finance || T1...,0,0.130
260,ruben.bento@novasbe.pt,5,1,1,0.500,0.000,1.000,60.000,2193 || Behavioral Economics and Finance || T1...,0,0.130

In [2101]:
# final_market[final_market.course=='1117 || Introdução à Microeconomia || S1 || EN'].sort_values(by=['preference', 'preference_type'],ascending=[True,True])
# final_market[final_market.course=='1118 || Introdução à Macroeconomia || S1 || PT'].sort_values(by=['preference_type', 'preference'],ascending=[True,True])
final_market[final_market.course== '1318 || Programação || S1 || EN'].sort_values(by=['preference_type', 'preference'],ascending=[True,True])

,TA,preference,preference_type,masters_course,capacity,master_student,number_classes,number_students,course,semester,weight
190,paulo.rocha@novasbe.pt,2,0,0,0.500,0.000,2.000,90.000,1318 || Programação || S1 || EN,1,0.667
191,jose.ferrao@novasbe.pt,2,0,0,0.500,0.000,2.000,90.000,1318 || Programação || S1 || EN,1,0.667
189,marcio.silva@novasbe.pt,3,0,0,0.050,0.000,2.000,90.000,1318 || Programação || S1 || EN,1,0.667
192,paulo.marques@novasbe.pt,1,1,0,0.330,0.000,2.000,90.000,1318 || Programação || S1 || EN,1,0.667
193,bernardo.costa@novasbe.pt,1,1,0,0.333,0.000,2.000,90.000,1318 || Programação || S1 || EN,1,0.667

# Matching algorithm

In [2102]:
translation_mapping

{"Masters' Courses": 2, "Bachelors' Courses": 0, 'Indifferent': 1, NaT: 1}

In [2103]:
ta_dict = final_market[['TA','capacity']].drop_duplicates()
ta_dict = dict(zip(ta_dict['TA'], ta_dict['capacity']))

In [2104]:
# ADDED 'preference_type' == 2
ms_courses = final_market[(final_market['masters_course'] == 1) & (final_market['master_student'] == 0) & ((final_market['preference_type'] == 2) | (final_market['preference_type'] == 1)) & (final_market['preference'] == 1)]

ms_courses_dict = ms_courses[['course','weight']].drop_duplicates()
ms_courses_dict = dict(zip(ms_courses_dict['course'], ms_courses_dict['weight']))

# ADDED 'preference_type' == 2
bs_courses = final_market[(final_market['masters_course'] == 0) & ((final_market['preference_type'] == 0) | (final_market['preference_type'] == 1)) & (final_market['preference'] == 1)]

bs_courses_dict = bs_courses[['course','weight']].drop_duplicates()
bs_courses_dict = dict(zip(bs_courses['course'], bs_courses['weight']))

In [2105]:
ms_final_preferences = ms_courses[["TA", "preference_type", "preference", "course", "semester"]]
ms_final_preferences = ms_final_preferences.sort_values(by=["course", "preference_type", "preference"], ascending=[True, False, True])

bs_final_preferences = bs_courses[["TA", "preference_type", "preference", "course", "semester"]]
bs_final_preferences = bs_final_preferences.sort_values(by=["course", "preference_type", "preference"], ascending=[True, True, True])

In [2106]:
print(len(ms_final_preferences.course.unique()))
print(len(bs_final_preferences.course.unique()))

58
31

In [2107]:
# # Count the number of observations for each course and preference
# course_preference_counts = ms_final_preferences.groupby(['course', 'preference']).size().reset_index(name='count')
# # Filter out the courses with more than one observation for preference == 1
# filtered_courses = course_preference_counts.loc[(course_preference_counts['preference'] == 1) & (course_preference_counts['count'] == 1), 'course']
# # Filter the original DataFrame based on the filtered courses
# ms_final_preferences_filtered = ms_final_preferences[ms_final_preferences['course'].isin(filtered_courses)]

# # Print the filtered DataFrame
# print(len(ms_final_preferences_filtered.course.unique()))

In [2108]:
# # Count the number of observations for each course and preference
# course_preference_counts = bs_final_preferences.groupby(['course', 'preference']).size().reset_index(name='count')
# # Filter out the courses with more than one observation for preference == 1
# filtered_courses = course_preference_counts.loc[(course_preference_counts['preference'] == 1) & (course_preference_counts['count'] == 1), 'course']
# # Filter the original DataFrame based on the filtered courses
# bs_final_preferences_filtered = bs_final_preferences[bs_final_preferences['course'].isin(filtered_courses)]

# # Print the filtered DataFrame
# print(len(bs_final_preferences_filtered.course.unique()))

In [2109]:
ta_allocations = []

In [2110]:
for _, row in bs_final_preferences.iterrows():
    ta = row['TA']
    course = row['course']
    ta_capacity = ta_dict[ta]
    course_weight = bs_courses_dict[course]
    # Check if course can be allocated
    if course_weight > 0:
        # Check if TA still has capacity
        if  ta_capacity > 0:
            allocated_weight = min(course_weight, ta_capacity)
            # Allocate course to TA
            ta_allocations.append((ta, course, allocated_weight))
            ta_dict[ta] -= allocated_weight
            bs_courses_dict[course] -= allocated_weight
        else:
            try:
                bs_final_preferences = bs_final_preferences[bs_final_preferences['ta'] != ta]
            except:
                continue
    else:
        bs_final_preferences = bs_final_preferences[bs_final_preferences['course'] != course]

In [2111]:
for _, row in ms_final_preferences.iterrows():
    ta = row['TA']
    course = row['course']
    ta_capacity = ta_dict[ta]
    course_weight = ms_courses_dict[course]
    # Check if course can be allocated
    if course_weight > 0:
        # Check if TA still has capacity
        if  ta_capacity > 0:
            allocated_weight = min(course_weight, ta_capacity)
            # Allocate course to TA
            ta_allocations.append((ta, course, allocated_weight))
            ta_dict[ta] -= allocated_weight
            ms_courses_dict[course] -= allocated_weight
        else:
            try:
                ms_final_preferences = ms_final_preferences[ms_final_preferences['ta'] != ta]
            except:
                continue
    else:
        ms_final_preferences = ms_final_preferences[ms_final_preferences['course'] != course]

### Results

In [2112]:
len(ta_allocations)

133

In [2113]:
ta_allocations

[('vitor.cavalcante@novasbe.pt',
  '1108 || Economia do Desenvolvimento || S1 || EN',
  0.25),
 ('joao.ferreira@novasbe.pt', '1112 || Economia Industrial || S1 || EN', 0.25),
 ('ruben.bento@novasbe.pt', '1112 || Economia Industrial || S1 || EN', 0.125),
 ('diogo.lima@novasbe.pt', '1114 || Economia Global II || S1 || EN', 0.125),
 ('henrique.d.santos@novasbe.pt',
  '1115 || Economia Pública || S1 || EN',
  0.125),
 ('catarina.angelo@novasbe.pt',
  '1117 || Introdução à Microeconomia || S1 || EN',
  0.35),
 ('carlos.figueira@novasbe.pt',
  '1117 || Introdução à Microeconomia || S1 || EN',
  0.25),
 ('pedro.m.santos@novasbe.pt',
  '1117 || Introdução à Microeconomia || S1 || EN',
  0.375),
 ('mariana.m.videira@novasbe.pt',
  '1117 || Introdução à Microeconomia || S1 || EN',
  0.25),
 ('diogo.guerreiro@novasbe.pt',
  '1118 || Introdução à Macroeconomia || S1 || EN',
  0.25),
 ('joao.gama@novasbe.pt',
  '1118 || Introdução à Macroeconomia || S1 || PT',
  0.125),
 ('francisco.f.rodrigues@novasbe.pt',
  '1119 || Microeconomia || S1 || EN',
  0.25),
 ('frederica.mendonca@novasbe.pt', '1119 || Microeconomia || S1 || EN', 0.3),
 ('pedro.coelho@novasbe.pt', '1120 || Macroeconomia || S1 || EN', 0.375),
 ('joao.f.sousa@novasbe.pt',
  '1206 || Comportamento Organizacional || S1 || EN',
  0.25),
 ('lara.pico@novasbe.pt',
  '1206 || Comportamento Organizacional || S1 || EN',
  0.25),
 ('madalena.silva@novasbe.pt', '1207 || Estratégia || S1 || EN', 0.25),
 ('jose.ferrao@novasbe.pt', '1207 || Estratégia || S1 || EN', 0.25),
 ('marcio.silva@novasbe.pt',
  '1208 || Sistemas de Informação || S1 || EN',
  0.05),
 ('teresa.mannebach@novasbe.pt', '1210 || Empreendedorismo || S1 || EN', 0.25),
 ('teresa.goncalves@novasbe.pt',
  '1210 || Empreendedorismo || S1 || EN',
  0.125),
 ('marta.nogueira@novasbe.pt',
  '1211 || Gestão Internacional || S1 || EN',
  0.45),
 ('manuel.garcao@novasbe.pt',
  '1212 || Contexto Internacional da Gestão || S1 || EN',
  0.25),
 ('joao.almeida@novasbe.pt',
  '1212 || Contexto Internacional da Gestão || S1 || EN',
  0.25),
 ('rui.boavida@novasbe.pt',
  '1217 || Contabilidade Financeira || S1 || EN',
  0.25),
 ('marta.francisco@novasbe.pt',
  '1217 || Contabilidade Financeira || S1 || EN',
  0.5),
 ('maria.vidal@novasbe.pt',
  '1217 || Contabilidade Financeira || S1 || EN',
  0.25),
 ('isabel.burguete@novasbe.pt',
  '1217 || Contabilidade Financeira || S1 || EN',
  0.5),
 ('matilde.alves@novasbe.pt',
  '1218 || Contabilidade de Gestão || S1 || EN',
  0.5),
 ('ana.lourenco@novasbe.pt', '1219 || Finanças || S1 || EN', 0.25),
 ('luis.pereira@novasbe.pt', '1219 || Finanças || S1 || EN', 0.5),
 ('maria.leal.afonso@novasbe.pt', '1219 || Finanças || S1 || EN', 0.25),
 ('joao.caetano@novasbe.pt', '1219 || Finanças || S1 || EN', 0.25),
 ('nuno.ribeiro@novasbe.pt', '1220 || Marketing || S1 || EN', 0.25),
 ('lucas.franieck@novasbe.pt', '1220 || Marketing || S1 || EN', 0.25),
 ('ana.faustino@novasbe.pt', '1221 || Gestão de Operações || S1 || EN', 0.5),
 ('pamela.pacciani@novasbe.pt', '1310 || Cálculo II || S1 || PT', 0.15),
 ('diogo.andrade@novasbe.pt',
  '1311 || Álgebra Linear com Programação || S1 || EN',
  0.3333333333333333),
 ('paulo.rocha@novasbe.pt',
  '1311 || Álgebra Linear com Programação || S1 || PT',
  0.5),
 ('rodrigo.duarte@novasbe.pt',
  '1311 || Álgebra Linear com Programação || S1 || PT',
  0.35),
 ('frederico.toulson@novasbe.pt',
  '1311 || Álgebra Linear com Programação || S1 || PT',
  0.15000000000000002),
 ('sara.cal@novasbe.pt',
  '1313 || Estatística para Economia e Gestão || S1 || EN',
  0.25),
 ('maria.goncalves@novasbe.pt',
  '1313 || Estatística para Economia e Gestão || S1 || EN',
  0.25),
 ('patricia.caetano@novasbe.pt',
  '1313 || Estatística para Economia e Gestão || S1 || EN',
  0.5),
 ('marlon.e.francisco@novasbe.pt', '1314 || Econometria || S1 || EN', 0.25),
 ('paulo.marques@novasbe.pt', '1318 || Programação || S1 || EN', 0.33),
 ('bernardo.costa@novasbe.pt',
  '1318 || Programação || S1 || EN',
  0.3333333333333333),
 ('catarina.amaral@novasbe.pt', '1402 || Direito Europeu || S1 || EN', 0.375),
 ('ana.marques@novasbe.pt',
  '1459 || Implementação de Projetos com Impacto || S1 || EN',
  0.5),
 ('francisco.g.mendes@novasbe.pt',
  '1462 || Comunicação e Liderança || S1 || EN',
  0.5),
 ('rita.santos@novasbe.pt',
  '1462 || Comunicação e Liderança || S1 || EN',
  0.25),
 ('goncalo.oliveira@novasbe.pt',
  '1462 || Comunicação e Liderança || S1 || EN',
  0.175),
 ('hugo.sousa@novasbe.pt', '1462 || Comunicação e Liderança || S1 || EN', 0.1),
 ('madalena.caetano@novasbe.pt',
  '1462 || Comunicação e Liderança || S1 || EN',
  0.225),
 ('ana.neves@novasbe.pt', '1463 || Ética || T1 || EN', 0.25),
 ('pedro.sena-dias@novasbe.pt',
  '1469 || Comportamento e Tomada de Decisão || T1 || PT',
  0.16666666666666666),
 ('andre.nunes@novasbe.pt',
  '2174 || Macroeconomic Analysis || S1 || EN',
  0.3236111111111111),
 ('valter.nobrega@novasbe.pt', '2175 || Econometrics || S1 || EN', 0.25),
 ('marlon.e.francisco@novasbe.pt',
  '2175 || Econometrics || S1 || EN',
  0.07361111111111113),
 ('galina.vysotskaya@novasbe.pt',
  '2176 || Development Economics || S1 || EN',
  0.25),
 ('vitor.cavalcante@novasbe.pt',
  '2176 || Development Economics || S1 || EN',
  0.07361111111111113),
 ('laman.orujova@novasbe.pt',
  '2188 || Microeconomic Analysis  || S1 || EN',
  0.3236111111111111),
 ('priya.krishnan@novasbe.pt',
  '2193 || Behavioral Economics and Finance || T1 || EN',
  0.13020833333333334),
 ('antonio.cardoso@novasbe.pt',
  '2204 || Mergers, Acquisitions, Restructuring || T2 || EN',
  0.1736111111111111),
 ('francisco.l.ramos@novasbe.pt',
  '2215 || Auditing || T2 || EN',
  0.1736111111111111),
 ('mariana.coelho@novasbe.pt',
  '2217 || Corporate Governance || T1 || EN',
  0.1736111111111111),
 ('afonso.quintela@novasbe.pt',
  '2222 || Financial Statement Analysis || T1 || EN',
  0.125),
 ('goncalo.s.marques@novasbe.pt', '2229 || Investments || S1 || EN', 0.25),
 ('bogdana.blidari@novasbe.pt', '2229 || Investments || S1 || EN', 0.4),
 ('rafael.sequeira@novasbe.pt', '2229 || Investments || S1 || EN', 0.5),
 ('joao.alves@novasbe.pt', '2229 || Investments || S1 || EN', 0.3),
 ('joao.c.delgado@novasbe.pt', '2229 || Investments || S1 || EN', 0.5),
 ('fabian.wassmann@novasbe.pt',
  '2233 || Macroeconomics of Financial Markets || T1 || EN',
  0.125),
 ('afonso.moura@novasbe.pt',
  '2233 || Macroeconomics of Financial Markets || T1 || EN',
  0.048611111111111105),
 ('mafalda.afonso@novasbe.pt',
  '2238 || Financial Reporting || T1 || EN',
  0.1736111111111111),
 ('miguel.marques@novasbe.pt', '2253 || Corporate Finance || S1 || EN', 0.5),
 ('mehdi.lehlali@novasbe.pt', '2253 || Corporate Finance || S1 || EN', 0.4),
 ('tomas.rodrigues@novasbe.pt', '2253 || Corporate Finance || S1 || EN', 0.2),
 ('miguel.m.duarte@novasbe.pt', '2253 || Corporate Finance || S1 || EN', 0.5),
 ('afonso.duarte@novasbe.pt',
  '2269 || Empirical Methods for Finance || T1 || EN',
  0.175),
 ('daniel.belo@novasbe.pt',
  '2269 || Empirical Methods for Finance || T1 || EN',
  0.05),
 ('daniela.afonso@novasbe.pt',
  '2277 || Impact Investments || T1 || EN',
  0.1736111111111111),
 ('maria.amorim@novasbe.pt',
  '2327 || Brand Management || S1 || EN',
  0.24270833333333336),
 ('pedro.castro@novasbe.pt', '2332 || Entrepreneurship || T1 || EN', 0.12525),
 ('lourenco.leite@novasbe.pt',
  '2332 || Entrepreneurship || T1 || EN',
  0.048361111111111105),
 ('amelia.n.monteiro@novasbe.pt',
  '2336 || Human Resources Management || T1 || EN',
  0.3580729166666667),
 ('carolina.ramos@novasbe.pt',
  '2336 || Human Resources Management || T2 || EN',
  0.3580729166666667),
 ('mariana.m.marques@novasbe.pt',
  '2337 || Integrated Marketing Communications || T1 || EN',
  0.09765625),
 ('sara.b.lopes@novasbe.pt',
  '2389 || Customer Relationship Management || T1 || EN',
  0.13020833333333334),
 ('maria.aniceto@novasbe.pt', '2414 || Financial Management || S1 || EN', 0.5),
 ('milton.figueira@novasbe.pt',
  '2414 || Financial Management || S1 || EN',
  0.25),
 ('antonio.m.bernardo@novasbe.pt',
  '2414 || Financial Management || S1 || EN',
  0.45),
 ('alice.nunes@novasbe.pt',
  '2414 || Financial Management || S1 || EN',
  0.0944444444444445),
 ('rita.mendes@novasbe.pt', '2430 || Advanced Marketing || S1 || EN', 0.5),
 ('filipe.lopes@novasbe.pt', '2430 || Advanced Marketing || S1 || EN', 0.25),
 ('sonia.vilares@novasbe.pt',
  '2431 || Marketing Management || S1 || EN',
  0.33),
 ('ligia.nunes@novasbe.pt',
  '2434 || Statistics II || T1 || EN',
  0.3472222222222222),
 ('tiago.troco@novasbe.pt', '2435 || Statistics III || T1 || EN', 0.2),
 ('filipa.albano@novasbe.pt',
  '2435 || Statistics III || T1 || EN',
  0.1472222222222222),
 ('anastasiia.smirnova@novasbe.pt',
  '2440 || Big Data Analysis || T2 || EN',
  0.1519097222222222),
 ('sara.b.lopes@novasbe.pt',
  '2441 || Digital Marketing || T2 || EN',
  0.08680555555555555),
 ('goncalo.sousa@novasbe.pt', '2459 || Advanced Strategy || S1 || EN', 0.25),
 ('diogo.a.pereira@novasbe.pt',
  '2463 || Advanced Topics in Human Resources Management || T2 || EN',
  0.4340277777777778),
 ('sofia.vilares@novasbe.pt',
  '2468 || Technology Strategy || T2 || EN',
  0.08680555555555555),
 ('catarina.leitao@novasbe.pt',
  '2473 || Negotiation || T1 || EN',
  0.13020833333333334),
 ('luis.carvalho@novasbe.pt',
  '2477 || Introduction to Programming  || S1 || EN',
  0.5),
 ('claudio.vieira@novasbe.pt',
  '2477 || Introduction to Programming  || S1 || EN',
  0.5),
 ('angelo.s.alves@novasbe.pt',
  '2477 || Introduction to Programming  || S1 || EN',
  0.2944444444444445),
 ('carlos.marques@novasbe.pt',
  '2481 || Product Design and Development || T1 || EN',
  0.2170138888888889),
 ('abrao.kulaif@novasbe.pt',
  '2483 || Applied Social Entrepreneurship || S1 || EN',
  0.24270833333333336),
 ('ricardo.c.silva@novasbe.pt',
  '2484 || Corporate Strategy and Transformation || S1 || EN',
  0.3),
 ('annsophie.hahn@novasbe.pt',
  '2484 || Corporate Strategy and Transformation || S1 || EN',
  0.18541666666666673),
 ('luis.morais@novasbe.pt',
  '2489 || Data Curation || T1 || EN',
  0.2170138888888889),
 ('renato.goncalves@novasbe.pt',
  '2491 || Data Visualization || T2 || EN',
  0.1),
 ('maria.m.carvalho@novasbe.pt',
  '2496 || Strategic Foresight and Scenario Planning || T1 || EN',
  0.1953125),
 ('carlota.lagoa@novasbe.pt',
  '2500 || Performance and Progress || T2 || EN',
  0.125),
 ('paulo.ruiz@novasbe.pt',
  '2581 || Advanced Financial Management || S1 || EN',
  0.25),
 ('iqra.hamid@novasbe.pt',
  '2581 || Advanced Financial Management || S1 || EN',
  0.5),
 ('radek.oros@novasbe.pt',
  '2585 || Evidence-Based Practices for Wellbeing || S1 || EN',
  0.18203125),
 ('svitlana.sivitskaya@novasbe.pt',
  '2588 || Science-Based Entrepreneurship and Innovation || T2 || EN',
  0.10850694444444445),
 ('ruben.bento@novasbe.pt',
  '2607 || Digital Markets || T2 || EN',
  0.3038194444444444),
 ('tomas.a.ambrosio@novasbe.pt',
  '2613 || Asian Brands || T1 || EN',
  0.13020833333333334),
 ('ayodeji.olufemi@novasbe.pt',
  '2626 || Entrepreneurial Journey || S1 || EN',
  0.325),
 ('ines.f.moreira@novasbe.pt',
  '2626 || Entrepreneurial Journey || S1 || EN',
  0.24131944444444436),
 ('yulia.vachevskikh@novasbe.pt',
  '2633 || System Change || T2 || EN',
  0.10850694444444445),
 ('tania.sequeira@novasbe.pt',
  '2641 || Modeling Business Decisions for Operations || T1 || EN',
  0.29296875),
 ('isabel.silva.carvalho@novasbe.pt',
  '2648 || Diversity & Inclusion || S1 || EN',
  0.20225694444444445),
 ('ana.tapadinhas@novasbe.pt',
  '2652 || Fundamentals on Environment and Sustainability || S1 || EN',
  0.2103472222222222),
 ('luis.faria@novasbe.pt',
  '2740 || International Relations and Organizations || T1 || EN',
  0.15),
 ('ana.ferreira@novasbe.pt',
  '2748 || Statistics for Policy Action || T1 || EN',
  0.2170138888888889),
 ('teresa.graca@novasbe.pt', '2866 || Work Project* || S1 || EN', 0.1),
 ('maria.charro@novasbe.pt', '2866 || Work Project* || S1 || EN', 0.425),
 ('sofia.jesus@novasbe.pt',
  '2951 || Applied Sustainable and Responsible Finance || S1 || EN',
  0.125)]

In [2114]:
ms_courses_dict

{'2174 || Macroeconomic Analysis || S1 || EN': 0.0,
 '2175 || Econometrics || S1 || EN': 0.0,
 '2176 || Development Economics || S1 || EN': 0.0,
 '2188 || Microeconomic Analysis  || S1 || EN': 0.0,
 '2193 || Behavioral Economics and Finance || T1 || EN': 0.0,
 '2204 || Mergers, Acquisitions, Restructuring || T2 || EN': 0.0,
 '2215 || Auditing || T2 || EN': 0.0,
 '2217 || Corporate Governance || T1 || EN': 0.0,
 '2222 || Financial Statement Analysis || T1 || EN': 0.39583333333333337,
 '2229 || Investments || S1 || EN': 0.3557291666666671,
 '2233 || Macroeconomics of Financial Markets || T1 || EN': 0.0,
 '2238 || Financial Reporting || T1 || EN': 0.0,
 '2253 || Corporate Finance || S1 || EN': 0.7057291666666672,
 '2269 || Empirical Methods for Finance || T1 || EN': 0.42604166666666665,
 '2277 || Impact Investments || T1 || EN': 0.0,
 '2327 || Brand Management || S1 || EN': 0.0,
 '2332 || Entrepreneurship || T1 || EN': 0.0,
 '2336 || Human Resources Management || T1 || EN': 0.0,
 '2336 || Human Resources Management || T2 || EN': 0.0,
 '2337 || Integrated Marketing Communications || T1 || EN': 0.0,
 '2339 || International Marketing Strategy || T2 || EN': 0.10850694444444445,
 '2352 || Quality Management || T1 || EN': 0.13020833333333334,
 '2389 || Customer Relationship Management || T1 || EN': 0.0,
 '2414 || Financial Management || S1 || EN': 0.0,
 '2430 || Advanced Marketing || S1 || EN': 1.1916666666666669,
 '2431 || Marketing Management || S1 || EN': 0.27677083333333335,
 '2434 || Statistics II || T1 || EN': 0.0,
 '2435 || Statistics III || T1 || EN': 0.0,
 '2440 || Big Data Analysis || T2 || EN': 0.0,
 '2441 || Digital Marketing || T2 || EN': 0.0,
 '2459 || Advanced Strategy || S1 || EN': 0.5590277777777778,
 '2463 || Advanced Topics in Human Resources Management || T2 || EN': 0.0,
 '2468 || Technology Strategy || T2 || EN': 0.0,
 '2473 || Negotiation || T1 || EN': 0.0,
 '2477 || Introduction to Programming  || S1 || EN': 0.0,
 '2481 || Product Design and Development || T1 || EN': 0.0,
 '2483 || Applied Social Entrepreneurship || S1 || EN': 0.0,
 '2484 || Corporate Strategy and Transformation || S1 || EN': 0.0,
 '2489 || Data Curation || T1 || EN': 0.0,
 '2491 || Data Visualization || T2 || EN': 0.16041666666666668,
 '2496 || Strategic Foresight and Scenario Planning || T1 || EN': 0.0,
 '2500 || Performance and Progress || T2 || EN': 0.13541666666666669,
 '2581 || Advanced Financial Management || S1 || EN': 0.70625,
 '2585 || Evidence-Based Practices for Wellbeing || S1 || EN': 0.0,
 '2588 || Science-Based Entrepreneurship and Innovation || T2 || EN': 0.0,
 '2597 || Advanced Data Analysis || S1 || EN': 0.5663194444444444,
 '2607 || Digital Markets || T2 || EN': 0.0,
 '2613 || Asian Brands || T1 || EN': 0.0,
 '2626 || Entrepreneurial Journey || S1 || EN': 0.0,
 '2633 || System Change || T2 || EN': 0.0,
 '2641 || Modeling Business Decisions for Operations || T1 || EN': 0.0,
 '2648 || Diversity & Inclusion || S1 || EN': 0.0,
 '2649 || Energy and Climate Change || T2 || EN': 0.1193576388888889,
 '2652 || Fundamentals on Environment and Sustainability || S1 || EN': 0.0,
 '2740 || International Relations and Organizations || T1 || EN': 0.0670138888888889,
 '2748 || Statistics for Policy Action || T1 || EN': 0.0,
 '2866 || Work Project* || S1 || EN': 5.542708333333334,
 '2951 || Applied Sustainable and Responsible Finance || S1 || EN': 0.036805555555555564}

In [2115]:
bs_courses_dict

{'1108 || Economia do Desenvolvimento || S1 || EN': 0.0,
 '1112 || Economia Industrial || S1 || EN': 0.0,
 '1114 || Economia Global II || S1 || EN': 0.125,
 '1115 || Economia Pública || S1 || EN': 0.0,
 '1117 || Introdução à Microeconomia || S1 || EN': 0.1499999999999999,
 '1118 || Introdução à Macroeconomia || S1 || PT': 0.0,
 '1118 || Introdução à Macroeconomia || S1 || EN': 1.0,
 '1119 || Microeconomia || S1 || EN': 0.2,
 '1120 || Macroeconomia || S1 || EN': 0.0,
 '1206 || Comportamento Organizacional || S1 || EN': 0.25,
 '1207 || Estratégia || S1 || EN': 0.0,
 '1208 || Sistemas de Informação || S1 || EN': 0.075,
 '1210 || Empreendedorismo || S1 || EN': 0.0,
 '1211 || Gestão Internacional || S1 || EN': 0.04999999999999999,
 '1212 || Contexto Internacional da Gestão || S1 || EN': 0.0,
 '1217 || Contabilidade Financeira || S1 || EN': 1.0,
 '1218 || Contabilidade de Gestão || S1 || EN': 0.625,
 '1219 || Finanças || S1 || EN': 0.0,
 '1220 || Marketing || S1 || EN': 0.125,
 '1221 || Gestão de Operações || S1 || EN': 0.0,
 '1310 || Cálculo II || S1 || PT': 0.18333333333333332,
 '1311 || Álgebra Linear com Programação || S1 || PT': 0.0,
 '1311 || Álgebra Linear com Programação || S1 || EN': 0.0,
 '1313 || Estatística para Economia e Gestão || S1 || EN': 0.0,
 '1314 || Econometria || S1 || EN': 0.0,
 '1318 || Programação || S1 || EN': 0.0033333333333332993,
 '1402 || Direito Europeu || S1 || EN': 0.0,
 '1459 || Implementação de Projetos com Impacto || S1 || EN': 0.0,
 '1462 || Comunicação e Liderança || S1 || EN': 0.0,
 '1463 || Ética || T1 || EN': 0.0,
 '1469 || Comportamento e Tomada de Decisão || T1 || PT': 0.0}

In [2116]:
# ms_courses_dict_filtered = {k: v for k, v in ms_courses_dict.items() if v == 0}
# len(ms_courses_dict_filtered)

In [2117]:
# ms_courses_dict_filtered = {k: v for k, v in ms_ta_dict.items() if v < 5}
# len(ms_courses_dict_filtered)
# ms_courses_dict_filtered

### Version combined

In [2118]:
# courses_dict = final_market[['course','weight']].drop_duplicates()
# courses_dict = dict(zip(courses_dict['course'], courses_dict['weight']))

In [2119]:
# course_preference_counts = final_preferences.groupby(['course', 'preference']).size().reset_index(name='count')

# # Filter out the courses with more than one observation for preference == 1
# filtered_courses = course_preference_counts.loc[(course_preference_counts['preference'] == 1) & (course_preference_counts['count'] == 1), 'course']
# final_preferences_filtered = final_preferences[final_preferences['course'].isin(filtered_courses)]

# # Print the filtered DataFrame
# print(len(final_preferences_filtered.course.unique()))

In [2120]:
# final_preferences = final_market[["TA", "preference_type", "preference", "course", "semester", "master_student", "masters_course"]]
# final_preferences = final_preferences.sort_values(by=["course", "preference_type", "preference"], ascending=[True, False, True])
# final_preferences.head()

In [2121]:
# len(final_preferences.course.unique())

In [2122]:
# ta_allocations = []

# for _, row in final_preferences_filtered.iterrows():
#     ta = row['TA']
#     pref_type = row['preference_type']
#     course = row['course']
#     student = row['master_student']
#     ms_course = row['masters_course']

#     ta_capacity = ta_dict[ta]
#     course_weight = courses_dict[course]

#     # MS courses
#     if ms_course == 1 and student == 0:
#         # Give priority to TAs who want MS courses
#         if pref_type == 1 or pref_type == 2:
#             # Check if course can be allocated
#             if course_weight > 0:
#                 # Check if TA still has capacity
#                 if  ta_capacity > 0:
#                     allocated_weight = min(course_weight, ta_capacity)
#                     # Allocate course to TA
#                     ta_allocations.append((ta, course, allocated_weight))
#                     ta_dict[ta] -= allocated_weight
#                     courses_dict[course] -= allocated_weight
#                 else:
#                     try:
#                         final_preferences_filtered = final_preferences_filtered[final_preferences_filtered['ta'] != ta]
#                     except:
#                         continue
#             else:
#                 final_preferences_filtered = final_preferences_filtered[final_preferences_filtered['course'] != course]
#         else:
#             continue
    
#     elif ms_course == 0:
#         # Give priority to TAs who want BS courses
#         if pref_type == 0:
#             # Check if course can be allocated
#             if course_weight > 0:
#                 # Check if TA still has capacity
#                 if  ta_capacity > 0:
#                     allocated_weight = min(course_weight, ta_capacity)
#                     # Allocate course to TA
#                     ta_allocations.append((ta, course, allocated_weight))
#                     ta_dict[ta] -= allocated_weight
#                     courses_dict[course] -= allocated_weight
#                 else:
#                     try:
#                         final_preferences_filtered = final_preferences_filtered[final_preferences_filtered['ta'] != ta]
#                     except:
#                         continue
#             else:
#                 final_preferences_filtered = final_preferences_filtered[final_preferences_filtered['course'] != course]
#         else:
#             continue
#     else:
#         if course_weight > 0:
#             # Check if TA still has capacity
#             if  ta_capacity > 0:
#                 allocated_weight = min(course_weight, ta_capacity)
#                 # Allocate course to TA
#                 ta_allocations.append((ta, course, allocated_weight))
#                 ta_dict[ta] -= allocated_weight
#                 courses_dict[course] -= allocated_weight
#             else:
#                 try:
#                     final_preferences_filtered = final_preferences_filtered[final_preferences_filtered['ta'] != ta]
#                 except:
#                     continue
#         else:
#             final_preferences_filtered = final_preferences_filtered[final_preferences_filtered['course'] != course]